{# 

{% block body %}
    <h1>Medical Report for Appointment with {{ patient.FullName }}</h1>

    <p> Appointment : {{ appointment.id }}
    <p>Appointment Date: {{ appointment.appointmentDate|date('Y-m-d') }}</p>
    <p> Patient Name : {{ patient.FullName }} </p>
    <p> Patient BirthDay : {{ patient.DateofBirth|date('Y-m-d') }} </p>

<p>Patient Age: {{ age }} years old</p>

    <p> 

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Submit</button>
    {{ form_end(form) }}
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block body %}

<div {{ react_component('MedicalReportPage' , { Appointmentid : Appointmentid , age : age , name : name , birth : birth , date : date})}}</div>

{% endblock %} 